/* Work Content */

#work {
    width: 90%;
    margin: auto;
}


.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
}

.projects img {
    width: 100%;
    border: 3px #fff solid;
}

.projects img:hover {
    opacity: 0.5;
    border-color: var(--primary-color);
    transition: all 0.5s ease-out;
}


.btn,
.btn-dark,
.btn-light {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
    background: var(--primary-color);
    color: #000;
}

.btn-dark {
    background: black;
    color: #fff;
}

.btn-light {
    background: #c4c4c4;
    color: #333;
}